<!DOCTYPE html>
<html>
<head>
    <title>Road Incident Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h1>Road Incident Analysis Website</h1>

    <a href="/">Home</a>
    <a href="/weather">Weather Analysis</a>
    <a href="/insights">Deep Insights</a>

    <hr>

    <h2>Welcome</h2>

    <p>
        This website analyses Victorian road accidents
        based on atmospheric, road surface and light conditions.
    </p>

</body>
</html>