<!DOCTYPE html>
<html>
<head>
    <title>Weather Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h1>Weather & Road Analysis</h1>

    <a href="/">Home</a>
    <a href="/weather">Weather Analysis</a>
    <a href="/insights">Deep Insights</a>

    <hr>

    <h2>Summary Dashboard</h2>

    <p>
        Accident summaries based on:
    </p>

    <ul>
        <li>Atmospheric Conditions</li>
        <li>Road Surface</li>
        <li>Light Conditions</li>
    </ul>

</body>
</html>